@model List<AcunMedyaAkademiPortfolio.Models.TblFeature>
    @foreach(var item in Model)
    {
<section id="home" class="main-banner parallaxie" style="background: url('@item.ImageUrl')">
    <div class="heading">
        <h1>Ben @item.NameSurname</h1>
        <p>@item.Description</p>
        <h3 class="cd-headline clip is-full-width">
            @*<span>Ben</span>*@
            <span class="cd-words-wrapper">
                <b class="is-visible">@item.ProjectName</b>
                <b>@item.ProjectName2</b>
                <b>@item.ProjectName3</b>
            </span>
        </h3>
    </div>
</section>
    }
