@model AcunMedyaAkademiPortfolio.Models.TblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Önce Çıkanlar Güncelleme Sayfası</h2>

<form method="post">
    <label>Öne Çıkanlar ID</label>
    <input type="text" class="table table-bordered" value="@Model.FeatureID" name="FeatureID" readonly />
    <br />
    <label>İsim Soyisim</label>
    <input type="text" class="table table-bordered" value="@Model.NameSurname" name="NameSurname" />
    <br />
    <label>Öne Çıkanlar Açıklaması</label>
    <input type="text" class="table table-bordered" value="@Model.Description" name="Description" />
    <br />
    <label>Proje Adı</label>
    <input type="text" class="table table-bordered" value="@Model.ProjectName" name="ProjectName" />
    <br />
    <label>Resim Yolu</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>